<app-nav-dashboard></app-nav-dashboard>
<div class="content">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni quas aut, vitae enim ex illo repellat facere
    cupiditate perspiciatis consequatur ea, voluptate animi quae similique nobis blanditiis! Eum, quam obcaecati.</p>
  <div class="container">
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptates in ipsa aliquid, earum
      repellendus obcaecati, illo cupiditate suscipit consectetur exercitationem commodi debitis odit modi asperiores
      placeat quaerat necessitatibus voluptatem?</p>
  </div>
</div>