<app-nav-dashboard></app-nav-dashboard>
<div class="content">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenido, {{user.name}}</h1>
      <p class="lead">Tiene {{ taskNum }} tareas asignadas.</p>
      <a *ngIf="true" class="btn btn-primary" data-toggle="collapse" href="#taskCollapse" role="button" aria-expanded="false"
        aria-controls="taskCollapse">Información</a>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="taskCollapse" style="padding-top: 10px;">
            <div class="card card-body" *ngFor="let task of taskCont">
              <h4>{{task.title}}</h4>
              <p>{{task.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4">
    </div>
  </div>
</div>