.my-carousel {
  margin-top: -80px;
}

.color-carousel {
  background-color: rgba(78, 78, 78, 0.685);
  color: rgb(255, 253, 253);
  margin-bottom: 50px;
}

.grid{
  padding-top: 20px; 
  text-align: center;
}

h4{
  text-align: justify;
}

i {
  font-size: 250px;
}

@media (max-width: 965px) {
  i {
    font-size: 150px;
  }
}

@media (max-width: 767px) {
  i {
    font-size: 250px;
  }
}