<div class="nav-side-menu">
  <div class="brand">Farm's System</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a routerLink="/dashboard">
          <i class="fa fa-home fa-lg"></i> Dashboard
        </a>
      </li>
      <li data-toggle="collapse" data-target="#crop" class="collapsed">
        <a><i class="fa fa-binoculars fa-lg"></i> Cultivos <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="crop">
        <li *ngIf="typeUser" routerLink="/dashboard/create-crop"><a>Crear Cultivo</a></li>
        <li routerLink="/dashboard/list-crop"><a>Listar Cultivos</a></li>
        <li *ngIf="typeUser" routerLink="/dashboard/update-crop"><a>Consultar Cultivos</a></li>
      </ul>
      <li *ngIf="typeUser" data-toggle="collapse" data-target="#user" class="collapsed">
        <a><i class="fa fa-users fa-lg"></i> Usuarios <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="user">
        <li routerLink="/dashboard/create-user" >Crear Usuarios</li>
        <li>Listar Usuarios</li>
        <li>Consultar Usuarios</li>
      </ul>
      <li data-toggle="collapse" data-target="#task" class="collapsed">
        <a><i class="fa fa-clipboard-list fa-lg"></i> Tareas <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="task">
        <li *ngIf="typeUser" >Crear Tareas</li>
        <li>Listar Tareas</li>
        <li *ngIf="typeUser">Consultar Tareas</li>
      </ul>
      <li>
        <a>
          <i class="fa fa-user fa-lg"></i> Perfil
        </a>
      </li>
      <li routerLink="/login" (click)='clearLocal()'>
        <a>
          <i class="fa fa-sign-out-alt fa-lg"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</div>