<div class="container-fluid">
    <div class="filter">
        <app-nav-login></app-nav-login>
        <div class="wrapper">
            <form #usuarioForm="ngForm" (ngSubmit)="onSubmit()" class="form-login">

                <h3 class="form-login-heading">Login</h3>
                <hr class="colorgraph">
                
                <div class="alert alert-primary" style="text-align: center" role="alert">
                    <strong> Dashboard </strong>
                </div>

                <input type="email" class="form-control" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}"
                    placeholder="&#xf007;  Nombre de Usuario" />

                <input type="password" class="form-control" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"
                    placeholder="&#xf13e;  Contraseña" />

                <div *ngIf="errors.errorAll" class="alert alert-danger" role="alert">
                    <strong> Debe llenar todos los campos </strong>
                </div>

                <div *ngIf="errors.errorLogin" class="alert alert-danger" role="alert">
                    <strong> {{message}} </strong>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="Submit">Ingresar</button>

                <!-- {{user.name ? user.name : user.remember_token}} -->

            </form>
        </div>
    </div>
</div>