<div class="container">
  <div class="wrapper">
      <form #usuarioForm="ngForm" (ngSubmit)="onSubmit()" class="form-login">

          <h3 class="form-login-heading">Login</h3>
          <hr class="colorgraph">
          <br>

          <div class="alert alert-info">
              <strong>Ingrese sus datos.</strong>
          </div>

          <input type="email" class="form-control" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}" placeholder="Username"/>

          <input type="password" class="form-control" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Password"/>

          <div *ngIf="errors.errorPass" class="alert alert-danger" role="alert">
              <strong> La contraseña debe contener al menos 8 carácteres </strong>
          </div>

          <div *ngIf="errors.errorUserLog" class="alert alert-danger" role="alert">
              <strong> The User or Password is Wrong! </strong>
          </div>

          <div *ngIf="errors.errorAll" class="alert alert-danger" role="alert">
              <strong> Debe llenar todos los espacios </strong>
          </div>

          <button class="btn btn-lg btn-primary btn-block" type="Submit">Login</button>
          
          <!-- {{user.name ? user.name : user.remember_token}} -->
                  
      </form>
  </div>
</div>