<app-nav-dashboard></app-nav-dashboard>
<div class="content">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Listar Cultivo</h1>
      <br />
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Responsable</th>
            <th scope="col">Fecha</th>
            <th scope="col">Detalles</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let crop of listcrop | paginate: { itemsPerPage: 10, currentPage: p }; let i = index ">
            <th scope="row">{{i + 1}}</th>
            <td>{{crop.name}}</td>
            <td>{{crop.description}}</td>
            <td>{{crop.responsable.name}}</td>
            <td>{{crop.created_at.split("T", 1)}} {{crop.created_at.substr(11,8)}}</td>
            <td><button class="btn btn-success" [routerLink]="['/dashboard/update-crop', { _id: crop._id}]">Info</button> &nbsp;
              <button class="btn btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>